@page
@model AST.WebApplication.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="govuk-heading-xl">Edit</h1>

<a asp-page="./Index" class="govuk-back-link">Back</a>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LogAppeal.ID" />
            <div class="form-group">
                <label asp-for="LogAppeal.FirstName" class="govuk-label"></label>
                <input asp-for="LogAppeal.FirstName" class="form-control" />
                <span asp-validation-for="LogAppeal.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogAppeal.LastName" class="govuk-label"></label>
                <input asp-for="LogAppeal.LastName" class="form-control" />
                <span asp-validation-for="LogAppeal.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogAppeal.Nationality" class="govuk-label"></label>
                <input asp-for="LogAppeal.Nationality" class="form-control" />
                <span asp-validation-for="LogAppeal.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogAppeal.DateOfBirth" class="govuk-label"></label>
                <input asp-for="LogAppeal.DateOfBirth" class="form-control" />
                <span asp-validation-for="LogAppeal.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="govuk-button" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
