@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<p class="govuk-body">Use this page to detail your site's privacy policy.</p>

<span style="display:block; height: 340px;"></span>